
<%= simple_form_for [:admin,@resource] do |f| %>
  <div class="box-body">
    <%= f.input :text %>
    <%= f.input :color, :input_html => {:class => "colorpicker-element my-colorpicker1"} %>
  </div>

  <div class="box-footer">
    <%= f.submit "Enviar", :class => "btn btn-primary" %>
  </div>
<% end %>
